@{
    ViewData["title"] = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">
    <div class="col col-sm-12 col-md-12">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://btec.fpt.edu.vn/"> The kids learn to code at BTEC BRITISH COLLEGE</a>.</p>
            <div class="text-center">
                <img src="~/images/logo Btec.jpg" class="img-fluid" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>